@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 1vh;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(210, 209, 209); 
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #9c2bff, #000a3c); 
    border-radius: 999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #8a2be2, #000000); 
  }
  